@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Message Board</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">View <a href="/messages">all messages</a>.</p>
</div>
